{% extends "home/base.html" %}

{% load static %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">sno</th>
            <th scope="col">Exam</th>
   

        </tr>
    </thead>
    <tbody>

        
        <tr>
            <th scope="row">1</th>
            <td>
                <form action="/blog/article" method="get">
                    
                    <button  class="text btn btn-outline-primary" type="submit">JEE(mains)</button>
                </form>
            </td>
            
        </tr>
        

        
        <tr>
            <th scope="row">2</th>
            <td>
                
                <form action="/blog/neet" method="get">
                    <button class="text btn btn-outline-primary" type="submit">NEET</button>
                </form>
            </td>
            
        </tr>
        
    </tbody>
</table>
{% endblock %}